p{
    color : red;
    font-weight: bold;
}

.link_branco{
    color: white;
    background-color: rgb(0, 46, 145);
}

.botao_branco{
    color: white;
    background-color: rgb(9, 7, 114);
}

.botao_azul{
    color: blue;
    background-color: rgb(39, 32, 110);
}